<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meu Primeiro Site com Adonis</title>
</head>
<body>
    <h1>Aqui é apenas um teste</h1>
    <span>Nome {{ user.name }}</span>
    <strong>Idade: {{user.year}}</strong>
    <div>
        <span>Techs</span>
        <ul>
            @each(tech in user.techs)
                <li>Tech: {{tech}}</li>
            @end
        </ul>
        <div> Admins</div>
        <ul>
            @each(user in users)
                @if(!user.admin)
                    <li>{{user.name}}</li>
                @end
            @end
        </ul>
    </div>
</body>
</html>